[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
jsonschema = "*"
python-gitlab = "*"
giturlparse = "*"
pyyaml = "*"

[dev-packages]
black = "*"
mypy = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
